<div style="padding:20px;
    ">>
    <div class="names">
        Name: {{ name }}
    </div>
    <br>
    <div class="taglines"></div>
    Tagline: {{ tagline }}
</div>
<br>
<div class="descriptions"></div>
Description: {{ description }}
</div>
<br>

<img src="{{ image_url }}" width="300" height="600" alt="">

</div>
{{!-- <footer class="navbar navbar-light" style="background-color: #0a2c42; postion:relative; top: 950px;">
    <p>Develop by Ironhack ;)</p> --}}
</footer>