<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{{doctitle}}</title>
</head>

<body>
    <main>
        <div id="image">
            <img src="/images/beer.png" width="300" height="300">
        </div>
        <div class="button ">
            <div id="b1"> <a class="btn btn-primary btn-lg " style="background-color: #2081c3;" href="/allBeers">Check
                    the
                    Beers! </a></div>
            <div id="b2"><a class="btn btn-primary btn-lg " style="background-color: #2081c3;" href="/random-beer">Check
                    a Random Beers! </a></div>
        </div>

    </main>

    {{!-- <footer class="navbar navbar-light" style="background-color: #0a2c42">
        <p>Develop by Ironhack ;)</p> --}}
        {{!--

        --}}
</body>